config/karabiner/automatic_backups
config/karabiner/karabiner.json
config/hammerspoon/Spoons/UADCtrl.spoon
config/nvim/undodir
config/nvim/plugged
config/nvim/plugin/packer_compiled.lua

config/nvim/.netrwhist
config/hammerspoon/bce_freq.json
config/hammerspoon/bce_data.json

.DS_Store
config/nvim/lazy-lock.json
config/journal/nvim/lazy
config/journal/nvim/.netrwhist
config/journal/nvim/lazy-lock.json
