**/.DS_Store

config/karabiner/automatic_backups
config/karabiner/karabiner.json

config/nvim/undodir
config/nvim/plugged
config/nvim/plugin/packer_compiled.lua
config/nvim/lazy-lock.json
config/nvim/.netrwhist

config/kickstart-modular.nvim/lazy-lock.json

config/hammerspoon/bce_freq.json
config/hammerspoon/bce_data.json
config/hammerspoon/abcd_freq_data.db
config/hammerspoon/Spoons/UADCtrl.spoon


config/journal/nvim/lazy
config/journal/nvim/.netrwhist
config/journal/nvim/lazy-lock.json
config/journal/nvim/telescope_history
config/journal/qalculate/qalc.history

config/journal-obsidian/nvim/lazy
config/journal-obsidian/nvim/.netrwhist
config/journal-obsidian/nvim/lazy-lock.json
config/journal-obsidian/nvim/telescope_history
config/journal-obsidian/qalculate/qalc.history

config/hammerspoon/Spoons/EmmyLua.spoon/annotations
